.news-container{
    max-width: 69rem;
    margin-left: 20%;
    padding: 9px;

}

.left-container{
    background-color: red;
    display: flex;
    flex-direction: column;
    margin-left: 2.5rem;
    min-height: 10rem;
    margin-right: 2.5rem;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    width: 34rem;
}

// width: 19rem;
//     left: 81%;
//     position: absolute;
//     top: 10%;
//     left: 78rem;

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0;
    background: #363346;
    border-radius: 2px;
    height: 150px;
    margin: 1rem;
    position: relative;
    width: 300px;
    top: -158rem;  }
  
    .technews-container {
        display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 49px;
    margin: 3px;
    margin-bottom: 3px;
    }
   .fa-cloud-rain {
    font-size: 150px;
    background: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #loader {
      width: 100%;
      height: 100%;
      color: black;
  }

  #searchBar{
    margin: 2px 1rem 3px;
    width: 55rem;
  }
  p {
    margin: 0;
    color: #252020;
  }
  
  .temperature {
    font-size: 80px;
    margin-top: 10px;
  }

 @media only screen and (max-width: 1024px) {
    .card-container {
        display: none;
    }
 }

 .headers-view {
    font-size: large;
    font-weight: bold;
 }
 .back-to-home {
    color: orange !important;
    font-size: larger;
    padding: inherit;
 }

 .card-title{
     &:hover{
         color: orange;
         text-decoration: underline;
     }
 }